.brand-bike{
  text-align: center;
  padding-top: 68px;
  .-title{
    margin-bottom: 50px;
    font-size: 36px;
  }
  &__tabs{
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        border: 1px solid #2590E3;
        &:hover{
          background-color: #2590E3;
        }
        &:first-child{
          border-radius: 5px 0 0 5px;
        }
        &:last-child{
          border-radius: 0 10px 10px 0;
          margin-left: -5px;
        }
        a{
          text-decoration: none;
          color: #000;
          font-size: 18px;
          display: block;
          padding: 15px 20px;
          @media (max-width: $screen-xs-min){
            padding: 10px 10px;
            font-size: 15px;
          }
          &:hover{
            color: #fff;
          }
        }
      }
      .active{
        background-color: #2590E3;
        a{
          color:#fff;
        }
      }
    }
  }
  .third{
      .owl-nav{
      .owl-prev{
        .fa-long-arrow-left{
          position: absolute;
          top: 50%;
          margin-top: -20px;
          left: 20px;
          font-size: 25px;
          color: #2590e3;
        }
      }
      .owl-next{
        .fa-long-arrow-right{
          position: absolute;
          top: 50%;
          margin-top: -20px;
          right: 20px;
          font-size: 25px;
          color: #2590e3;
        }
      }
    }
  }
  // &__logo{
  //   position: absolute;
  //   right: 50px;
  //   transform: translateY(-50%);
  //   width: 55px;
  //   height: 30px;
  //   img{
  //     max-width: 100%;
  //   }
  // }
  &__content1{
    float: right;
    padding: 70px 70px;
    width: 360px;
    height: 430px;
    border: 1px solid #c1c1c1;
    display: inline-block;
     img{
      max-width: 100%;
    }
    h2{
      font-size: 24px;
      color: #000;
      margin-bottom: 0;
    }
    p{
      color: #ed145b;
      font-size: 24px;
    }
    a{
      text-decoration: none;
    }
      &--btn {
      color: #fff;
      font-size: 14px;
      padding: 15px 20px;
      background-color: #2590E3;
      margin-top: 25px;
    }
  }
&__content2{
  float: left;
    padding: 70px 70px;
    width: 360px;
    height: 430px;
    border: 1px solid #c1c1c1;
    display: inline-block;
     img{
      max-width: 100%;
    }
    h2{
      font-size: 24px;
      color: #000;
      margin-bottom: 0;
    }
    p{
      color: #ed145b;
      font-size: 24px;
    }
    a{
      text-decoration: none;
    }
      &--btn {
      color: #fff;
      font-size: 14px;
      padding: 15px 20px;
      background-color: #2590E3;
      margin-top: 25px;
    }
  }

}
