@font-face {
  font-family: 'ProximaNovablackIt';
  src: url('../fonts/ProximaNovablackIt/ProximaNova-BlackIt.eot'),
  url('../fonts/ProximaNovablackIt/ProximaNova-BlackIt.woff') format('woff'),
  url('../fonts/ProximaNovablackIt/ProximaNova-BlackIt.ttf') format('truetype'),
  url('../fonts/ProximaNovablackIt/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNovaBoldIt';
  src: url('../fonts/ProximaNovaBoldIt/ProximaNova-BoldIt.eot'),
  url('../fonts/ProximaNovaBoldIt/ProximaNova-BoldIt.woff') format('woff'),
  url('../fonts/ProximaNovaBoldIt/ProximaNova-BoldIt.ttf') format('truetype'),
  url('../fonts/ProximaNovaBoldIt/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNovaBold/ProximaNovaBold.eot'),
  url('../fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'),
  url('../fonts/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype'),
  url('../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNovaLight/ProximaNova-Light.eot'),
  url('../fonts/ProximaNovaLight/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLightIt';
  src: url('../fonts/ProximaNovaLightIt/ProximaNova-LightIt.eot'),
  url('../fonts/ProximaNovaLightIt/ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/ProximaNovaLightIt/ProximaNova-LightIt.ttf') format('truetype'),
  url('../fonts/ProximaNovaLightIt/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNovaThinIt';
  src: url('../fonts/ProximaNovaThinIt/ProximaNova-ThinIt.eot'),
  url('../fonts/ProximaNovaThinIt/ProximaNova-ThinIt.woff') format('woff'),
  url('../fonts/ProximaNovaThinIt/ProximaNova-ThinIt.ttf') format('truetype'),
  url('../fonts/ProximaNovaThinIt/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

@keyframes cssload-animBefore {
  0% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-o-keyframes cssload-animBefore {
  0% {
    -o-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -o-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -o-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -o-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -o-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-ms-keyframes cssload-animBefore {
  0% {
    -ms-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -ms-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -ms-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -ms-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -ms-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-webkit-keyframes cssload-animBefore {
  0% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-moz-keyframes cssload-animBefore {
  0% {
    -moz-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -moz-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -moz-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -moz-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -moz-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@keyframes cssload-animAfter {
  0% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-o-keyframes cssload-animAfter {
  0% {
    -o-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -o-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -o-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -o-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -o-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-ms-keyframes cssload-animAfter {
  0% {
    -ms-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -ms-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -ms-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -ms-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -ms-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-webkit-keyframes cssload-animAfter {
  0% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-moz-keyframes cssload-animAfter {
  0% {
    -moz-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -moz-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -moz-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -moz-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -moz-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.mm-navbar {
  height: 83px;
  img{
    max-width: 100%;
    padding-top: 15px;
  }
}

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
  margin-top: 23px;
}

.mm-right.mm-opening .mm-menu.mm-fx-menu-slide {
  z-index: 999999;
}

body{
	background-color: #fff;
}

.-title{
  display: inline-block;
	margin: 0;
	color: #fff;
  font-size: 36px;
  font-family: 'ProximaNovaBoldIt';
	padding: 10px 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  &:before{
    content: '';
    background-color: #2590E3;
    position: absolute;
    transform: skew(-10deg);
    border-radius: 3px;
    width: auto;
    height: auto;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 20px;
  }
}

.sale{
	display: block;
  max-width: 100%;
  overflow: hidden;
  height: 150px;
  background-color: #F9F9F9;
  padding-top: 20px;
  padding-bottom: 33px;
  padding-left: 65px;
  padding-right: 25px;
  transform: skew(-10deg);
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
  &:before{
    content: '';
    position: absolute;
    width: 420px;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: -4.603px 1.954px 16.56px 1.44px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  @media (max-width: $screen-sm-max) {
    min-height: 320px;
    text-align: center;
    transform: skew(0deg);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }
  .-triangle{
    text-align: center;
    position: absolute;
    transform: rotate(-37deg);
    background-color: rgb(237, 20, 91);
    box-shadow: -4.603px 1.954px 16.56px 1.44px rgba(136, 18, 56, 0.67);
    width: 154px;
    height: 154px;
    top: -117px;
    left: -127px;
    @media (max-width: $screen-sm-max) {
      top: -117px;
      left: -87px;
    }
    span{
      color: #fff;
      font-family: 'ProximaNovablackIt';
      position: absolute;
      bottom: 10px;
      text-transform: uppercase;
      left: 0;
      right: 0;
    } }
  &__stock{
    width: 317px;
    display: inline-block;
    padding-top: 13px;
    @media (max-width: $screen-sm-max) {
      padding-bottom: 30px;
      width: auto;
    }
		.sub-title{
			font-size: 38px;
			text-transform: uppercase;
      font-family: 'ProximaNovaBoldIt';
			color: #000;
			margin: 0;
      transform: skew(10deg);
			text-align: left;
			box-shadow: 0 2px 1px -1px #7A7A7A;
      @media (max-width: $screen-sm-max) {
        transform: skew(0deg);
      }
			@media (max-width: $screen-xs-max) {
        font-size: 25px;
        text-align: center;
			}
		}
	}
	&__discount{
    padding-left: 25px;
    @media (max-width: $screen-md-min) {
      padding-left: 15px;
    }
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }
		.title-sub{
			margin: 0;
			color: #000;
			text-transform: uppercase;
			padding-bottom: 10px;
      font-family: 'ProximaNovaBoldIt';
      transform: skew(10deg);
      font-size: 22px;
      padding-left: 15px;
      @media (max-width: $screen-sm-max) {
        transform: skew(0deg);
      }
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
      }
			span{
				color: #FF0253;
			}
		}
		.sub{
			padding-top: 5px;
			margin: 0;
      font-size: 14px;
      color: #a8a8a8;
      font-family: 'ProximaNovaLightIt';
      padding-left: 15px;
      padding-bottom: 30px;
      transform: skew(10deg);
      text-align: left;
      @media (max-width: $screen-sm-max) {
        text-align: center;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: 0;
      }
    }
		.-forms{
			transform: skew(10deg);
      @media (max-width: $screen-sm-max) {
        transform: skew(0deg);
      }
			input{
				max-width: 275px;
        width: 100%;
				height: 48px;
				border: 1px #DADADA solid;
				border-radius: 3px;
				outline: none;
				padding-left: 55px;
				position: relative;
        display: inline-block;
        font-family: 'ProximaNovaLight';
			}
			i{
				font-size: 20px;
        line-height: 48px;
				position: absolute;
				left: 10px;
        top: 0;
        @media (max-width: $screen-sm-max) {
          left: 120px;
          right: auto;
        }
        @media (max-width: $screen-sm-min) {
          left: 16%;
          top: 8px;
          right: auto;
        }
        @media (max-width: 665px) {
          left: 13%;
          top: 8px;
          right: auto;
        }
        @media (max-width: 590px) {
          left: 30px;
          top: 8px;
          right: auto;
        }
        @media (max-width: 540px) {
          left: 20%;
          top: 0;
        }
        @media (max-width: 500px) {
          left: 20%;
          top: 0;
        }
        @media (max-width: $screen-xs-min) {
          left: 16%;
          top: 0;
          right: auto;
        }
        @media (max-width: 430px) {
          left: 15%;
          top: 0;
        }
        @media (max-width: 400px) {
          left: 5%;
          top: 0;
          right: auto;
        }
			}
			.-btn{
				margin-left: 5px;
				background-color: #FFF54C;
				border-radius: 3px;
				border: none;
				outline: none;
				padding: 15px 20px;
        font-family: 'ProximaNovaBold';
        text-transform: uppercase;
        @media (max-width: $screen-md-max) {
          padding: 15px 15px;
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 10px;
        }
			}
		}
	}
}

